<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DataProvider" value="System.Data.SqlClient" />
    <add key="ConnectionStringName" value="Anderson_MF6Context" />
  </appSettings>
  <connectionStrings>
    <add name="Anderson_MF6Context" connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=Anderson_MF6Context; Integrated Security=True; MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>