<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ConnectionName. O nome da string de conexão.-->
    <add key="ConnectionStringName" value="AndersonLizProva" />
    <!-- DataProvider. Somente usado em ADO.NET. As opções são: System.Data.OleDb, System.Data.SqlClient, System.Data.OracleClient, or MySql.Data.MySqlClient. -->
    <add key="DataProvider" value="System.Data.SqlClient" />
  </appSettings>
  
  <connectionStrings>
    <!--Connection String do banco SQL SERVER-->
    <add name="AndersonLizProva" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=AndersonLizProva;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
</configuration>