<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ConnectionName. O nome da string de conexão.-->
    <add key="ConnectionStringName" value="DBDonaLaura" />
    <!-- DataProvider. Somente usado em ADO.NET. As opções são: System.Data.OleDb, System.Data.SqlClient, System.Data.OracleClient, or MySql.Data.MySqlClient. -->
    <add key="DataProvider" value="System.Data.SqlClient" />
  </appSettings>

  <connectionStrings>
    <!--Connection String do banco SQL SERVER-->
    <add name="DBDonaLaura" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DBDonaLaura;Integrated Security=True;Pooling=False" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>